{% extends 'base.html.twig' %}

{% block title %}Créer une soirée{% endblock %}

{% block body %}

<div class="max-w-3xl mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Créer une soirée</h1>

    {# {{ form_start(form) }}   #}
    {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
        {{ form_row(form.titre) }} 
        {{ form_errors(form.titre)}} 
        {{ form_row(form.dateSoiree) }}
        {{ form_row(form.statut) }}
        {{ form_row(form.email) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock %}