{% extends 'base.html.twig' %}

{% block title %}Soiree index{% endblock %}

{% block body %}
    <h1 class="bold text-3xl text-white text-center bg-gray-800 mb-4">Mes soirées</h1>

    <table class="table mb-4 max-w-5xl mx-auto bg-gray-100 rounded-lg">
        <thead>
            <tr>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Id</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Titre</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">DateSoiree</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">DateCreation</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Statut</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Email</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Artiste</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Theme</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">Materiel</th>
                <th class="bg-white px-4 py-2 rounded-lg text-left">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.id }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.titre }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.dateSoiree ? soiree.dateSoiree|date('Y-m-d') : '' }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.dateCreation ? soiree.dateCreation|date('Y-m-d') : '' }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.statut }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.email }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">
                    {% for artiste in soiree.artistes %}
                        {{ artiste.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="bg-white px-4 py-2 rounded-lg">{{ soiree.theme ? soiree.theme.name : '' }}</td>
                <td class="bg-white px-4 py-2 rounded-lg">
                    {% for materiel in soiree.materielSoirees %}
                        {{ materiel.materiel.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="bg-white px-4 py-2 rounded-lg">
                    <a href="{{ path('app_admin_soiree_show', {'id': soiree.id}) }}">show</a>
                    <a href="{{ path('app_admin_soiree_edit', {'id': soiree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="flex justify-center mt-4">
        <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-2xl" href="{{ path('app_admin_soiree_new') }}">Créer une nouvelle soirée</a>
    </div>
{% endblock %}
