{% extends 'base.html.twig' %}

{% block title %}Soiree index{% endblock %}

{% block body %}
    <h1>Soiree index</h1>

    <table class="table mb-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>DateSoiree</th>
                <th>DateCreation</th>
                <th>Statut</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <td>{{ soiree.id }}</td>
                <td>{{ soiree.titre }}</td>
                <td>{{ soiree.dateSoiree ? soiree.dateSoiree|date('Y-m-d') : '' }}</td>
                <td>{{ soiree.dateCreation ? soiree.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ soiree.statut }}</td>
                <td>{{ soiree.email }}</td>
                <td>
                    <a href="{{ path('app_soiree_show', {'id': soiree.id}) }}">show</a>
                    <a href="{{ path('app_soiree_edit', {'id': soiree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-2xl" href="{{ path('app_soiree_new') }}">Create new</a>
{% endblock %}
