{% extends 'base.html.twig' %}

{% block title %}Soiree{% endblock %}

{% block body %}
    <h1>Soiree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soiree.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ soiree.titre }}</td>
            </tr>
            <tr>
                <th>DateSoiree</th>
                <td>{{ soiree.dateSoiree ? soiree.dateSoiree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ soiree.dateCreation ? soiree.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ soiree.statut }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ soiree.email }}</td>
            </tr>
            <tr>
                <th>DateReservationDebut</th>
                <td>{{ soiree.dateReservationDebut ? soiree.dateReservationDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateReservationFin</th>
                <td>{{ soiree.dateReservationFin ? soiree.dateReservationFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Artiste</th>
                <td>
                    {% for artiste in soiree.artistes %}
                        {{ artiste.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ soiree.theme ? soiree.theme.name : '' }}</td>
            </tr>
            <tr>
                <th>Materiel</th>
                <td>
                    {% for materiel in soiree.materielSoirees %}
                        {{ materiel.materiel.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_soiree_index') }}">back to list</a>

    <a href="{{ path('app_soiree_edit', {'id': soiree.id}) }}">edit</a>

    {{ include('soiree/_delete_form.html.twig') }}
{% endblock %}
