{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

<div>
    <h1 class="text-3xl bold text-center mt-4 mb-4">{{ titre }}</h1>
    <nav class="bg-gray-800">
        <ul class="flex justify-center space-around flex-row space-x-4">
            <li class="rounded px-4 py-3 bg-gray-100"><a href="{{ path('app_accueil') }}">{{ ux_icon('material-symbols:home') }}</a></li>
            <li class="rounded px-4 py-3 bg-gray-100"><a href="{{ path('app_film') }}">{{ ux_icon('streamline-ultimate:movies-reel') }}</a></li>
            <li class="rounded px-4 py-3 bg-gray-100"><a href="{{ path('app_contact') }}">{{ ux_icon('material-symbols:mail') }}</a></li>
        </ul>
    </nav>
</div>

{% endblock %}